* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.white-text {
    color: white;
}

.red-text {
    color: rgb(190, 54, 0);
}

.orange-text {
    color: rgb(255, 98, 0);
}

.grey-text {
    color: rgb(170, 170, 170);
}

.black-text {
    color: black;
}

.bold {
    font-weight: 800;
}

.left-space {
    margin-left: .5rem;
}

.container {
    padding: 0 .5rem;
    max-width: 1000px;
    margin: 0 auto;
}

/* HEADER */

header {
    background-color: rgb(255, 98, 0);
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.25rem;
}

.header-container {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: .25rem .5rem;
}

#contact, #login-signup {
    display: flex;
    width: 50%;
}

#login-signup {
    justify-content: flex-end;
}

/* LOGO*/

#logo-nav {
    background-color: rgb(249, 249, 249);
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3.5rem;
}

/* NAV - CONTAINERS */

nav {
    margin-right: 1rem;
}

.menu-item-container {
    position: relative;
    display: inline-block;
}

.submenu-container {
    position: absolute;
    display: none;
    top: 100%;
    left: -50%;
}

.menu-item-container:hover .submenu-container {
    display: flex;
}

.submenu {
    flex-direction: column;
    margin-top: 1rem;
    padding: 1rem .5rem;
    background-color: white;
    border: 1px solid rgb(170, 170, 170);
}

/* NAV - MENU ITEMS */

.menu-item, .submenu-item {
    margin: 0 .25rem;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: .9rem;
    color: black;
    text-decoration: none;
    display: inline-block;
    width: 3.25rem;
}

.submenu-item {
    margin-bottom: .25rem;
    width: 5.25rem;
}

.menu-item:hover {
    font-weight: 800;
    text-decoration: underline;
    text-decoration-color: rgb(255, 98, 0);
    text-decoration-thickness: 2.5px;
    text-underline-offset: 6px;
}

.submenu-item:hover {
    font-weight: 600;
}

/* BREADCRUMB */

.breadcrumb {
    font-family: 'Ubuntu', sans-serif;
    font-size: .75rem;
    margin-top: 2rem;
}

/* MAIN */

#main {
    margin-top: 1.5rem;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

main p {
    font-family: 'Ubuntu', sans-serif;
}

/* CONTACT-REACH */

.contact-reach {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.contact-form, .reach-us {
    width: 45%;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}

.bold-line {
    width: 100%;
    height: .33rem;
    margin-top: .33rem;
    margin-bottom: 1rem;
    background-color: black;
}

.reach-us p {
    font-family: 'Open Sans', sans-serif;
    font-size: .75rem;
}

.reach-us .skills-test {
    font-size: .9rem;
}

.phone {
    margin-top: 1rem;
}

/* CONTACT FORM */

input {
    width: 100%;
    margin-bottom: .5rem;
    background-color: rgb(249, 249, 249);
    padding: .5rem;
    border: 1px solid rgb(237, 237, 237);
    outline: none;
    font-family: 'Open Sans', sans-serif;
}

textarea {
    background-color: rgb(249, 249, 249);
    padding: .5rem;
    border: 1px solid rgb(237, 237, 237);
    outline: none;
    width: 100%;
    height: 5rem;
    font-family: 'Open Sans', sans-serif;
}

.contact-info {
    display: flex;
    justify-content: space-between;
}

.contact-info input {
    width: 49%;
}

.contact-form button {
    background-color: rgb(255, 98, 0);
    color: white;
    margin-top: 1rem;
    padding: .5rem 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    outline: none;
}

.contact-form button:hover {
    cursor: pointer;
}

#social-media {
    display: flex;
    margin-top: 2rem;
}

#social-media img {
    width: 2rem;
    margin-right: .25rem
}