* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.white-text {
    color: white;
}

.red-text {
    color: rgb(190, 54, 0);
}

.orange-text {
    color: rgb(255, 98, 0);
}

.grey-text {
    color: rgb(170, 170, 170);
}

.black-text {
    color: black;
}

.bold {
    font-weight: 800;
}

.left-space {
    margin-left: .5rem;
}

.container {
    padding: 0 .5rem;
    max-width: 1000px;
    margin: 0 auto;
}

/* HEADER */

header {
    background-color: rgb(255, 98, 0);
    text-transform: uppercase;
    font-family: 'Bebas Neue', sans-serif;
}

.header-container {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: .25rem .5rem;
}

#contact, #login-signup {
    display: flex;
    width: 50%;
}

#login-signup {
    justify-content: flex-end;
}

/* LOGO & NAV */

#logo-nav {
    background-color: rgb(249, 249, 249);
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
}

nav a {
    margin: 0 .25rem;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: .75rem;
    color: black;
    text-decoration: none;
}

nav a:hover {
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: rgb(255, 98, 0);
    text-decoration-thickness: 2.5px;
    text-underline-offset: 6px;
}

/* BREADCRUMB */

.breadcrumb {
    font-family: 'Ubuntu', sans-serif;
    font-size: .75rem;
    margin-top: 2rem;
}

/* MAIN */

#main {
    margin-top: 1.5rem;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

main p {
    font-family: 'Ubuntu', sans-serif;
}

/* CONTACT-REACH */

.contact-reach {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.contact-form, .reach-us {
    width: 45%;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
}

.bold-line {
    width: 100%;
    height: .33rem;
    margin-top: .33rem;
    background-color: black;
}